
.Preguntas-Frecuentes {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
}

#faq {
    background-color: black;
    color: white;
}

.faq {
    display: grid;
    gap: 1rem;
    padding-block: 2rem;
    justify-content: center;
    margin-right: 30px;
    font-size: 26px;
}

.faq-listado {
    display: grid;
    gap: 0.4rem;
    max-width: 65rem;
    list-style: none;
}

.faq-input {
    display: none;
}

.preguntas:hover {
    transition: 0.3s;
    filter: brightness(130%);
}

.preguntas {
    text-decoration: none;
    color: white;
}

.faq-label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
    padding-inline: 3%;
    background-color: #2c2c2c;
    border-bottom: 4px solid black;
}

.faq-content {
    background-color: #333333;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 2s ease;
}

.faq-content p {
    margin: 2rem;
    background-color: transparent;
}

.faq-input:checked~.faq-content {
    max-height: 60rem;
    transition: max-height 0.3s ease;
}
.faq-input:checked~ a .cross{
    transform: rotate(-45deg)
}
.cross{
    background-color: transparent;
}

.text-membresia {
    font-size: 22px;
    text-align: center;
    margin-top: 0;
}

.text-membresia {
    text-align: center;
    font-size: 20px;
}

.membresia {
    text-align: center;
}

.buttoncomenzar {
    padding:15px 35px;
    background-color: rgba(255, 0, 0, 0.774);
    border-radius: 5px;
    border-style: none;
    color: white;
    font-size: 26px;
}

.buttoncomenzar:hover {
    transition: 0.3s;
    filter: brightness(60%);
}

.faqform {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    padding: 20px;
}

.faqinput-field:focus {
    outline: 2px solid white;
    outline-offset: 2px;
}

.faqinput-field {
    padding: 14px;
    background-color: rgb(17, 17, 17);
    font-size: 16px;
    width: 35%;
    border-radius: 5px;
    border-color: rgb(95, 94, 94);
    border-width: 1px;
    border-style: solid;
}

.faqinput-field::placeholder {
    left: 0;
    top: 0;
    font-size: 1rem;
    margin-left: 1rem;
    color: rgb(246, 244, 244);
    transition: 0.3s all ease;
}
  
.faqinput-field:focus::placeholder {
    color: rgb(246, 244, 244);
    position:absolute;
    font-size: 14px ;
    top: 0px;
    transition: 0.3s;
}