:root {
    /*   Variables   */
    --netflix-color:rgb(225, 16, 16);
    --netflix-dark-color:rgb(192, 7, 7);
}

.header-bg {
    height: 90vh; 
    width: 100%;
    background: url('./../media_netflix_es/cartelera_header.jpg') center;
    background-size: cover;
}
.header-bg,.header-shadow,.nav-bar,.logo,.nav-right,nav,nav svg{
    background-color: rgba(0, 0, 0, 0);
}
.header-shadow{
    background-image: radial-gradient(rgba(11, 11, 11, 0.34) 5%, rgba(0, 0, 0, 0.73) 80%);
    height: 100%;
}
nav{
    padding: 1.5rem 10rem;
}
.nav-bar{
    display: flex;
    align-items: flex-end;
}
.nav-right, .logo, .nav-language,.log-in/*div:has(> .nav-language)*/{
    display: inline-block;
}
.logo svg{
    height: 2.6rem;
    fill: var(--netflix-color);
}
.nav-right{
    margin-left: auto;
}

.nav-language{
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    position: relative;
}
svg.nav-translator{
    top: 0.4rem;
    left: 0.7rem;
    height: 1.1rem;
    width: 1.1rem;
    position:absolute;
}
.nav-language-select{
    background-color: #11111100;
    padding: 0.4rem 2.2rem;
    border: 1px solid gray;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    appearance: none;
    z-index: 1;
    position: relative;
    font-size: 1.1rem;
}
.nav-language-select:focus{
    outline: 2px solid white;
    outline-offset: 2px;
}
.nav-language-select option{
    background-color: white;
}
.nav-down-arrow{
    position:absolute;
    top: 0.6rem;
    right: 0.7rem;
}
.log-in{
    background-color: var(--netflix-color);
    padding: 0.4rem 0.8rem;
    border: 1px solid var(--netflix-color);
    border-radius: 4px;
    margin-left: 1.5rem;
    font-size: 1rem;
}
.log-in:hover{
    background-color: var(--netflix-dark-color);
    transition: 0.5s;
}