div{
    display:block;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.section-container {                /*   Seccion   */
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    min-height: auto;
    padding: 3.5rem 0;
}
.section-box, .reverse-section-box{
    margin:auto;
    max-width: calc(100% - 3rem);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.section-divider{
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: -0.5rem;
    background-color: rgb(35,35,35);
}
.section-text, .reverse-section-text{
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
    width:100%;
}
.section-text h3, .reverse-section-text h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}
.section-text p, .reverse-section-text p {
    margin: 1rem 0 0;
    font-size: 1.125rem;
    font-weight: 400;
}
.section-img, .reverse-section-img {
    flex-basis:50%;
    padding:0;
    z-index: 1;
}
.section-img-container{
    position: relative;
}
.section-img-container img{
    width:100%;
    border:0;
    /*overflow-clip-margin: content-box;
    overflow: clip;*/
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.video{
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}
audio, canvas, progress, video{
    display: inline-block;
    vertical-align: baseline;
}
video{
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

@media screen and (min-width: 960px){
    .section-container{
        min-height: auto;
        padding: 4.5rem 0;
    }
    .section-box{
        max-width: calc( 100% - 4rem );
        flex-direction: row;
    }
    .reverse-section-box{
        max-width: calc(100% - 4rem);
        flex-direction: row-reverse;
    }
    .section-text{
        text-align: left;
        padding-right: 0.375rem;
    }
    .reverse-section-text{
        text-align: left;
        padding-left: 0.375rem;
    }
    .section-text h3, .reverse-section-text h3 {
        font-size: 3rem;
        font-weight: 900;
    }
    .section-text p, .reverse-section-text p{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .section-img{
        padding-left: 0.375rem;
    }
    .reverse-section-img{
        padding-right: 0.375rem;
    }
}

@media screen and (min-width: 600px) {

    .section-container{
        min-height: auto;
        padding: 4.5rem 0;
    }
    .section-box, .reverse-section-box{
        max-width: calc( 100% - 4rem );
    }
}

@media screen and (min-width: 1920px) {
    .section-box, .reverse-section-box{
        max-width: calc( 66.66666666666666% - 6rem );
    }
}

@media screen and (min-width: 1280px) {
    .section-box, .reverse-section-box{
        max-width: calc( 83.33333333333334% - 6rem );
    }
}