.section-container {                /*   Seccion   */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: calc( 83.33333333333334% - 6rem );
    margin:auto;
    padding: 3.5rem 0;
}
.reverse {                          /*   Seccion reversa   */
    flex-direction: row-reverse;
    
}
.section-text h3 {
    font-size: 3rem;
    font-weight: 900;
}
.section-text p {
    font-size: 1.5rem;
    font-weight: 400;
}

.section-imagen-descargando{
position:relative;
left: 22%;
top: -150px;
display: flex;
align-items: center;
border: 2px solid rgba(128,128,128,0.7);
box-shadow: 0 0 100px 0 rgb(0,0,0);
border-radius: 0.75rem;
padding: 2px;
width: 55%;
height:18% 
}

   
.imagen-descarga-2 img{
    margin: 4px;
    width: 65px;
    height: 90px;
    
}
.section-text-descarga{
    text-align: left;
    justify-content: left;
    padding: 1px;
    margin-left: 10px;
    width: 100%;

}
.section-text-descarga p{
    color: rgb(53, 53, 226);
}

.section-imagen-load img{
   max-width: 4rem;
     margin: 10px;
}
 



